.edit-loc-form {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  align-items: baseline;
  column-gap: 10px;
}

button.edit {
  width: 40px;
  height: 30px;
}

/* ---------------------------------------------------------------- */
.title {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: baseline;
}

button.edit {
  width: 40px;
  height: 30px;
  margin-left: 10px;
}

.event-items {
  display: flex;
}
.results-choose-events {
  columns: 2;
}
@media (max-width: 725px) {
  .results-choose-events {
    columns: 1;
  }
}
/* ----------------------------------------------------------------- */

/* .results-choose-events{
    border: 1px solid pink;
    display: grid;
    grid-template-columns: 35vw 35vw;
    column-gap: 50px;
    justify-content: center;
    justify-items: stretch;
    row-gap: 25px;
    

} */

/* .event-items{
    border: 1px solid green;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
         "checkbox image title"
         "checkbox image date"
         "checkbox image venue";
    min-height: 100px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: start;
  
} */

/* ----------- Items in events ---------------------- */
/* .event-checkbox{
    grid-area: checkbox;
    align-content: center;
}
.event-img{
    grid-area: image;
    width: 100px;
    max-height: 6.5vh;
    margin-right: 1vw;
}

.event-title{
    grid-area: title;
    margin:0;
}

.event-date-time{
    grid-area: date;
    margin:0;
    font-size: 10px;
    padding: 0;
}

.event-venue{
    grid-area: venue;
    margin:0;
    font-size: 10px;
    padding: 0;
}
*/
.choose-events {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.choose-events form {
  margin-left: 20px;
}
